:root {
    --foreground: rgb(255, 213, 42);
    --text: rgb(245, 245, 245);
    --background: rgb(36, 31, 28);
    --background-trans: rgba(36, 31, 28, .3);
    --timing-function-0: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
    color: var(--text);
    font-size: 16px;
    font-family: "Noto Sans SC", "Segoe UI", "Microsoft YaHei UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, "simsun", "Mongolian Baiti", arial;
}
:root * {
    box-sizing: border-box;
    transition: .5s var(--timing-function-0);
}

body {
    background: url("backgroundImage.webp") no-repeat fixed center / cover;
}

p:not(.context, .context *) {
    display: inline;
}
a {
    cursor: default;
}

::selection {
    color: var(--background);
    background: var(--foreground);
}
:disabled::selection {
    color: #000000;
    background: #888888;
}

.part {
    width: 80vw;
    max-width: 650px;
    outline: 0;
    margin: 5px auto 0 auto;
    padding: 20px 25px;
    border: 1px solid var(--foreground);
    border-radius: 12px;
    box-shadow: 0 0 3px var(--foreground);
    background: var(--background-trans);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transition: .1s;
}
.parting {
    height: 1px;
    margin: 10px 0;
    border: solid var(--foreground);
    border-width: 1px 0 0 0;
    box-shadow: 0 0 3px var(--foreground);
}
.partTitle {
    font-size: 23px;
    line-height: 45px;
}

.topBar {
    height: 50px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    pointer-events: none;
}
.topBar > * {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    pointer-events: auto;
}

.button {
    color: var(--text);
    font-size: 16px;
    width: 160px;
    height: 40px;
    padding: 10px;
    line-height: 0;
    overflow: hidden;
    box-shadow: 0 0 3px 0 var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: 10px;
    background: var(--background-trans);
    transition: .1s;
}
.button:hover {
    box-shadow: 0 0 6px 2px var(--foreground);
}
.button:active {
    font-size: 14px;
    border-width: 4px;
    box-shadow: 0 0 8px 2px var(--foreground);
}

.button:disabled {
    color: #888888;
    box-shadow: 0 0 3px #888888;
    border: 1px solid #888888;
    background: var(--background-trans);
}
.button:disabled:hover {
    box-shadow: 0 0 6px #888888;
}
.button:disabled:active {
    font-size: 16px;
    border-width: 1px;
    box-shadow: 0 0 6px #888888;
}

.button.autoWidth {
    transition: max-width .2s;
}
.button.autoWidth:hover {
    max-width: 100%;
    width: auto;
}

.button > .textlabel {
    text-align: right;
    transition: none;
}

.linkButtonGroup {
    position: absolute;
    left: 2vw;
    z-index: 100;
}
.linkButtonGroup > li {
    display: flex;
}
.linkButton {
    display: none/*flex*/;
    align-items: center;
    width: 10vw;
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    padding: 10px;
    margin-bottom: 2vh;
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}
.linkButton > svg {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 40px;
    margin: auto auto auto 0;
}
.linkButton > .textlabel {
    margin-right: 5px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--foreground);
    background: rgba(0, 0, 0, 0);
    border: 0 solid;
}

.head > * {
    position: relative;
    margin: auto;
    text-align: center;
}

.avatar {
    height: 20vw;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 var(--foreground);
    border: 3px solid var(--foreground);
    border-radius: 50%;
    background: #000;
    transition: .3s ease;
}
.avatar:hover {
    box-shadow: 0 0 14px 1px var(--foreground);
    transform: scale(1.01);
}
.avatar > img {
    height: 100%;
    width: 100%;
}

.name {
    padding: 25px;
    font-size: 2.5rem;
}

@media screen {
    
}