:root {
    --accent-color: rgb(255, 213, 42);
    --accent-color-trans: rgba(255, 213, 42, .3);
    --text-color: rgb(245, 245, 245);
    --background-color: rgb(36, 31, 28);
    --background-color-trans: rgba(36, 31, 28, .3);
    --timing-function-0: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
    color: var(--text-color);
    font-size: 16px;
    font-family: "Noto Sans SC", "Segoe UI", "Microsoft YaHei UI", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, "simsun", "Mongolian Baiti", arial;
}
:root * {
    box-sizing: border-box;
    transition: .5s var(--timing-function-0);
    accent-color: var(--accent-color);
}

body {
    background: url("backgroundImage.webp") no-repeat fixed center / cover;
}

p:not(.context, .context *) {
    display: inline;
}
a {
    cursor: default;
}

::selection {
    color: var(--background-color);
    background: var(--accent-color);
}
:disabled::selection {
    color: #000000;
    background: #888888;
}

.part {
    width: 80vw;
    max-width: 650px;
    outline: 0;
    margin: 5px auto 0 auto;
    padding: 20px 25px;
    border: 1px solid #FFFFFF30;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 #00000088;
    background: var(--background-color-trans);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transition: .1s;
}
.parting {
    height: 1px;
    margin: 10px 0;
    border: solid var(--accent-color);
    border-width: 1px 0 0 0;
    box-shadow: 0 0 3px var(--accent-color);
}
.partTitle {
    font-size: 23px;
    line-height: 45px;
}

.topBar {
    height: 50px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    pointer-events: none;
}
.topBar > * {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    pointer-events: auto;
}

.button {
    color: var(--text-color);
    font-size: 16px;
    width: 160px;
    height: 40px;
    padding: 10px;
    line-height: 0;
    overflow: hidden;
    box-shadow: 0 0 3px 0 var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background: var(--background-color-trans);
    transition: .1s;
}
.button:hover {
    box-shadow: 0 0 6px 2px var(--accent-color);
}
.button:active {
    font-size: 14px;
    border-width: 4px;
    box-shadow: 0 0 8px 2px var(--accent-color);
}

.button:disabled {
    color: #888888;
    box-shadow: 0 0 3px #888888;
    border: 1px solid #888888;
    background: var(--background-color-trans);
}
.button:disabled:hover {
    box-shadow: 0 0 6px #888888;
}
.button:disabled:active {
    font-size: 16px;
    border-width: 1px;
    box-shadow: 0 0 6px #888888;
}

.button.autoWidth {
    transition: max-width .2s;
}
.button.autoWidth:hover {
    max-width: 100%;
    width: auto;
}

.button > [icon] {
    height: 100%;
    width: fit-content;
}
.button > [icon] svg {
    height: 100%;
    width: auto;
}
.button:has([icon]) > [label] {
	position: absolute;
    left: 35px;
	top: 50%;
    transition: none;
}

.partButtonGroup {
    width: 80vw;
    max-width: 650px;
    outline: 0;
    margin: 5px auto 0 auto;
}
.partButtonGroup > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 155px);
    gap: 10px;
    justify-content: center;
    padding: 0;
}
.partButtonGroup > ul > li {
    display: flex;
}
.partButtonGroup .button {
    height: 60px;
    width: 155px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.partButtonGroup .button:has([icon]) > [label] {
    left: 55px;
}


.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--accent-color);
    background: rgba(0, 0, 0, 0);
    border: 0 solid;
}

.head > * {
    position: relative;
    margin: auto;
    text-align: center;
}

.avatar {
    height: 20vw;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 var(--accent-color);
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    background: #000;
    transition: .3s ease;
}
.avatar:hover {
    box-shadow: 0 0 14px 1px var(--accent-color);
    transform: scale(1.01);
}
.avatar > img {
    height: 100%;
    width: 100%;
}

.name {
    padding: 25px;
    font-size: 2.5rem;
}

@media screen {
    
}