* {
    scroll-behavior: smooth;
}

@mixin transition-on-hover($selector, $active) {
    #{$selector} {
        &, * { transition: opacity .2s, border .3s, color .2s, width .2s, background-color .2s; }
        #{$active} {
            &, * { transition: none; }
        }
    }
}

@include transition-on-hover("a:not(#specificityUP_ABC, .VPButton), .os-scrollbar-handle", "&:hover");
@include transition-on-hover(".VPLocalSearchBox .result", "&.selected, &:hover");
@include transition-on-hover(".algolia [command-item]", "&[aria-selected=true], &:hover");

* {
    &::-webkit-scrollbar-thumb {
        transition: background-color .2s;
    }
    transition: scrollbar-color .2s;
    &:hover {
        &, &::-webkit-scrollbar-thumb {
            transition: none;
        }
    }
}

.VPButton.VPButton {
    transition: transform .15s, color .15s, border-color .15s, background-color .15s;
    will-change: transform;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transition: none !important;
        transform: scale(0.97);
    }
}

.VPNavBar {
    &::after {
        opacity: 1;
        transition: opacity .2s;
    }
    &.home.top::after {
        opacity: 0;
    }
}

@mixin mobile-search-button {
    transform: scale(1);
    transition: transform .1s;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(.9);
    }
}

@media (max-width: 759.999px) { /*宽度760以下*/
    .blog-search { @include mobile-search-button; }
}

@media (max-width: 767.999px) { /*宽度768以下*/
    .VPNavBarSearchButton { @include mobile-search-button; }
}

.VPLocalSearchBox {
    > .backdrop {
        animation: opacityIn .4s;
    }
    > .shell {
        animation: opacityIn .4s .1s backwards, slideDown .4s cubic-bezier(.34, .68, 0, 1) .1s backwards;
    }
}
.algolia {
    border: solid transparent;
    border-width: 0;
    [command-dialog-mask]::after {
        opacity: 1;
        transition: opacity .2s;
    }
    [command-dialog-wrapper] {
        opacity: 1;
        transform: translateY(0px);
        transition: opacity .3s, transform .4s cubic-bezier(.34, .68, 0, 1);
    }
    &.command-dialog-enter-from, &.command-dialog-leave-to {
        border-width: 1px;
        [command-dialog-mask]::after {
            opacity: 0;
        }
        [command-dialog-wrapper] {
            opacity: 0;
            transform: translateY(-100px);
        }
    }
    &.command-dialog-leave-active {
        // 为了子元素过渡动画能正常应用
        transition: border-width 0s .5s;
        [command-dialog-mask]::after {
            transition: opacity .2s .1s;
        }
        [command-dialog-wrapper] {
            transition: opacity .3s, transform .15s cubic-bezier(1, 0, .68, .34);
        }
    }

    .back-button .vpi-arrow-left {
        //配合动画方向……
        transform: rotate(-90deg);
    }
}

.VPLocalNavOutlineDropdown {
    .flyout-enter-active, .flyout-leave-active {
        transition: all .4s cubic-bezier(.34, .68, 0, 1);
    }
    .flyout-leave-active {
        transition: all .2s cubic-bezier(1, 0, .68, .34);
    }
}

.VPSidebar.VPSidebar {
    transition: opacity 0s .2s, transform .15s cubic-bezier(1, 0, .68, .34);
    &.open {
        transition: opacity .2s .1s, transform .4s cubic-bezier(.34, .68, 0, 1) .1s;
    }
}

.VPBackdrop.VPBackdrop {
    &.fade-enter-active {
        transition: opacity .2s;
    }
    &.fade-leave-active {
        transition: opacity .2s .1s;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}