@use "./customElements.scss";
@use "./customAnimations.scss";
@use "sass:color";
$lkn-theme-accent-light: #007A3A;
$lkn-theme-accent-bg-light: #E8F1EA; /*oklch空间混合白色90%和主题色10%*/
$lkn-theme-accent-dark:#D170FF;
$lkn-theme-accent-bg-dark: #100416; /*oklch空间混合黑色80%和主题色20%*/
:root {
    /* 1440-(1440*1.05) ，与 1067px 以上时 zoom: 1.05 配合，防止出现侧边栏被剪切等问题 */
    --vp-layout-max-width: 1368px; 

    --vp-font-family-base: "Inter", "HarmonyOS Sans SC", ui-sans-serif, sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --vp-font-family-mono: "Sarasa Mono SC", "Monaspace Neon", ui-monospace, "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;
    --vp-home-hero-image-background-image: url("/avatar.jpg");

    --vp-c-border: #FFFFFF06; /*边框*/
    --vp-code-block-bg: var(--vp-code-bg);
    --vp-backdrop-bg-color: var(--vp-c-bg-soft); /*侧边栏展开遮罩*/

    --vp-button-brand-bg: var(--lkn-theme-accent);
    --vp-button-brand-hover-bg: var(--lkn-theme-accent-brighter);
    --vp-button-brand-active-bg: var(--lkn-theme-accent-darker);
    --vp-button-brand-hover-text: var(--lkn-theme-text);

    --vp-c-bg-elv: var(--vp-c-bg);
    --vp-c-gutter: var(--vp-c-bg-elv);
    --vp-c-brand-1: var(--lkn-theme-accent-brighter);
    --vp-c-brand-2: var(--lkn-theme-accent);
    --vp-c-brand-3: var(--lkn-theme-accent-darker);
    --vp-sidebar-bg-color: transparent;
    --vp-nav-bg-color: var(--lkn-page-bg);
    --vp-local-nav-bg-color: var(--vp-nav-bg-color);

    &:not(.dark) {
        --lkn-current-bg-image: url("/bgImage/bg-Nahida-light-0.webp");

        --lkn-theme-accent: #{$lkn-theme-accent-light};
        --lkn-theme-accent-bg: #{$lkn-theme-accent-bg-light};
        --lkn-theme-accent-brighter: #{color.mix(white, $lkn-theme-accent-light, 20%)};
        --lkn-theme-accent-darker: #{color.mix(black, $lkn-theme-accent-light, 20%)};
        --lkn-theme-text: #{color.mix(white, $lkn-theme-accent-light, 90%)};
        --lkn-theme-text-brighter: #{color.mix(white, $lkn-theme-accent-light, 95%)};
        --lkn-theme-text-darker: #{color.mix(white, $lkn-theme-accent-light, 50%)};
        --lkn-home-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 30%)};
        --lkn-page-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 70%)};
        --lkn-selection-color: #{color.mix($lkn-theme-accent-light, transparent, 40%)};
        --lkn-scrollbar-handle-bg: #{color.mix(rgba(black, .2), $lkn-theme-accent-bg-light, 90%)};
        --lkn-scrollbar-handle-bg-hover: #{color.mix(rgba(black, .4), $lkn-theme-accent-bg-light, 80%)};
        --lkn-scrollbar-handle-bg-active: #{color.mix(rgba(white, .1), $lkn-theme-accent-light, 60%)};

        --vp-c-text-1: #{color.mix(black, $lkn-theme-accent-light, 90%)}; //主文字色
        --vp-c-text-2: #{color.mix(black, $lkn-theme-accent-bg-light, 60%)}; //副文字色
        --vp-c-text-3: #{color.mix(black, $lkn-theme-accent-bg-light, 30%)}; //placeholder

        --vp-c-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 30%)};
        --vp-c-bg-soft: #{color.mix($lkn-theme-accent-bg-light, transparent, 40%)};
        --vp-c-bg-alt: #88DDBB36; /*非强调色按钮*/
        --vp-c-divider: #66887764;/*分隔条*/
        --vp-c-brand-soft: #{color.mix($lkn-theme-accent-light, transparent, 8%)}; /*Tip框*/
        --vp-code-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 50%)};
        --vp-code-line-highlight-color: #{color.mix($lkn-theme-accent-light, transparent, 20%)};

        --vp-button-brand-text: var(--lkn-theme-text-brighter);
        --vp-button-brand-active-text: var(--lkn-theme-text-darker);
        --vp-button-alt-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 60%)};
        --vp-button-alt-hover-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 80%)};
        --vp-button-alt-active-bg: #{color.mix($lkn-theme-accent-light, transparent, 30%)};
    }

    &.dark {
        --lkn-current-bg-image: url("/bgImage/bg-Klee-dark-0.webp");

        --lkn-theme-accent: #{$lkn-theme-accent-dark};
        --lkn-theme-accent-bg: #{$lkn-theme-accent-bg-dark};
        --lkn-theme-accent-brighter: #{color.mix(white, $lkn-theme-accent-dark, 20%)};
        --lkn-theme-accent-darker: #{color.mix(black, $lkn-theme-accent-dark, 20%)};
        --lkn-theme-text: #{color.mix(black, $lkn-theme-accent-dark, 70%)};
        --lkn-theme-text-brighter: #{color.mix(black, $lkn-theme-accent-dark, 50%)};
        --lkn-theme-text-darker: #{color.mix(black, $lkn-theme-accent-dark, 90%)};
        --lkn-home-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 60%)};
        --lkn-page-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 90%)};
        --lkn-selection-color: #{color.mix($lkn-theme-accent-dark, transparent, 40%)};
        --lkn-scrollbar-handle-bg: #{color.mix(rgba(white, .2), $lkn-theme-accent-bg-dark, 95%)};
        --lkn-scrollbar-handle-bg-hover: #{color.mix(rgba(white, .5), $lkn-theme-accent-bg-dark, 80%)};
        --lkn-scrollbar-handle-bg-active: #{color.mix(rgba(black, .1), $lkn-theme-accent-dark, 60%)};

        --vp-c-text-1: #{color.mix(white, $lkn-theme-accent-dark, 90%)}; //主文字色
        --vp-c-text-2: #{color.mix(white, $lkn-theme-accent-bg-dark, 70%)}; //副文字色
        --vp-c-text-3: #{color.mix(white, $lkn-theme-accent-bg-dark, 50%)}; //placeholder
        
        --vp-c-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 30%)};
        --vp-c-bg-soft: #{color.mix($lkn-theme-accent-bg-dark, transparent, 40%)};
        --vp-c-bg-alt: #CCBBDD24; /*非强调色按钮*/
        --vp-c-divider: #CC88DD40; /*分隔条*/
        --vp-c-brand-soft: #{color.mix($lkn-theme-accent-dark, transparent, 15%)}; /*Tip框*/
        --vp-code-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 50%)};
        --vp-code-line-highlight-color: #{color.mix($lkn-theme-accent-dark, transparent, 20%)};

        --vp-button-brand-text: var(--lkn-theme-text-darker);
        --vp-button-brand-active-text: var(--lkn-theme-text-brighter);
        --vp-button-alt-bg: #{color.mix(#dfdfdf, transparent, 15%)};
        --vp-button-alt-hover-bg: #{color.mix(#dfdfdf, transparent, 30%)};
        --vp-button-alt-active-bg: #{color.mix($lkn-theme-accent-dark, transparent, 30%)};
    }

    --lkn-navbar-blur-radius: 8px;
    --lkn-navmenu-blur-radius: 16px;
    --lkn-backdrop-blur-radius: 4px;
    --lkn-navbar-mask: /*用两层渐变，观感会比只有一层要好*/
        linear-gradient(to bottom, #FFFFFF 20%, transparent 100%),
        linear-gradient(to bottom, #FFFFFF 30%, transparent 100%);
    --lkn-local-navbar-mask:
        linear-gradient(to bottom, #FFFFFF 30%, transparent 100%),
        linear-gradient(to bottom, #FFFFFF 40%, transparent 100%);
    --lkn-loading-circle-width: max(min(0.4vw, 0.4vh), 3px);
    --lkn-loading-circle-radius: max(min(2vw, 2vh), 22px);
}

* {
    ::selection {
        background: var(--lkn-selection-color);
    }
}

//fix start
* { //允许合成粗体斜体及小号大写喵！
    font-synthesis: weight style small-caps;
    //CJK自动排版喵！
    text-autospace: normal;
    //等宽数字+标点挤压喵！https://sparanoid.com/lab/opentype-features/
    font-feature-settings: "tnum" 1, "hwid" 1;
}
.VPFeatures, .VPDoc .main {//左右对齐喵！
    text-align: justify;
    text-justify: inter-character;
}

pre {
    overflow: scroll; //不能跑到页面外边去喵！跑到外面去会出大问题的喵！
}
pre, code { &, & * {
    //不要CJK自动排版喵！https://github.com/vuejs/vitepress/issues/5115
    text-autospace: no-autospace;
    //不要左右对齐喵！
    text-align: unset;
    text-justify: unset;
}}

.custom-block {
    position: relative;
    overflow: hidden;
    &::after { /*减少背景透明度*/
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: inherit;
    }
}

a[link] { //带link自定义属性时，当作链接看待
    text-decoration-line: underline;
    text-underline-offset: 2px;
    transition: color 0.25s;
    &:hover {
        color: var(--vp-c-text-1);
    }
}

.curtain.curtain.curtain {
	background-color: transparent;
}

ruby rt { //调大注音字号，看得更清楚
    font-size: 0.8em;
    h1 &, h2 & {
        font-size: 0.5em;
    }
    h3 &, h4 & {
        font-size: 0.6em;
    }
}

.VPLocalNavOutlineDropdown .items {
    max-height: calc(var(--vp-vh, 100vh) - 134px);
}

//vitepress-plugin-breadcrumb
@media (max-width: 640px) {
    .breadcrumb.breadcrumb {
        display: block;
    }
}

//配合 vitepress-plugin-pagefind
//修复日期显示问题
.search-dialog div[command-item] .date.date.date {
    min-width: fit-content;
    color: var(--vp-c-text-2);
}

//配合 vitepress-plugin-image-viewer
.vp-doc img {
    cursor: zoom-in;
}
.viewer-container {
    z-index: 999990 !important; //确保覆盖OverlayScrollbars
}
.viewer-hide-md-down {
    display: unset; //我就是要让你显示，咋地
}
//fix end

//nprogress进度条
#nprogress {
    .bar { /*条子*/
        background: var(--lkn-theme-accent);
        box-shadow: 0 0 16px 2px var(--lkn-theme-accent);
    }
    .peg { /*条子头部shadow*/
        box-shadow: 4px 0 8px 3px var(--lkn-theme-accent);
    }
    .spinner-icon { /*加载圆圈旋转部分*/
        border-width: var(--lkn-loading-circle-width);
        width: var(--lkn-loading-circle-radius);
        height: var(--lkn-loading-circle-radius);
        animation-duration: 0.6s; /*旋转周期*/
        border-top-color: var(--lkn-theme-accent);
        border-left-color: var(--lkn-theme-accent);
    }
}
//OverlayScrollbars滚动条
.os-scrollbar-handle {
    --os-handle-bg: var(--lkn-scrollbar-handle-bg);
    --os-handle-bg-hover: var(--lkn-scrollbar-handle-bg-hover);
    --os-handle-bg-active: var(--lkn-scrollbar-handle-bg-active);
}
//回退：浏览器自带滚动条
* {
    &::-webkit-scrollbar {
        margin: 2px;
        width: 6px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: var(--lkn-scrollbar-handle-bg);
        transition: background .15s;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
    scrollbar-color: var(--lkn-scrollbar-handle-bg) transparent;
    scrollbar-gutter: auto;
    scrollbar-width: thin;
    transition: scrollbar-color .15s;
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: var(--lkn-scrollbar-handle-bg-hover);
        }
        scrollbar-color: var(--lkn-scrollbar-handle-bg-hover) transparent;
    }
    &:active {
        &::-webkit-scrollbar-thumb {
            background: var(--lkn-scrollbar-handle-bg-active);
        }
        scrollbar-color: var(--lkn-scrollbar-handle-bg-active) transparent;
    }
}

body {
    background: no-repeat fixed center / cover;
    background-image: var(--lkn-current-bg-image);
    background-color: var(--lkn-theme-accent-bg);
}
.VPContent {
    background-color: var(--lkn-page-bg);
    transition: background-color .4s;
    &.is-home {
        background-color: var(--lkn-home-bg);
        box-shadow: 0 0 48px 48px var(--lkn-home-bg);
    }
}

.VPSidebarItem {
    //给顶层和第一层项目加一个自定义伪元素indicator
    &:is(.level-0, .level-1).is-active > .item .VPLink {
        position: relative;
        .text::before {
            content: ">";
            position: absolute;
            left: -16px;
            top: -1px;
            padding: inherit;
        }
    }
}


#VPNavScreen, .VPLocalSearchBox > .shell, .algolia [command-dialog-wrapper], .VPFlyout > .menu {
    // 需要背景模糊的菜单元素
    backdrop-filter: blur(var(--lkn-navmenu-blur-radius));
}
.VPBackdrop, .VPLocalSearchBox > .backdrop, .algolia [command-dialog-mask]::after { // 需要轻微背景模糊的遮罩元素
    backdrop-filter: blur(var(--lkn-backdrop-blur-radius));
}
.VPFlyout > .menu {
    border-radius: 12px;
}

/*所有导航栏背景伪元素*/
@mixin all-navbar-bg-pseudo {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: no-repeat fixed center / cover;
    background-image:
        linear-gradient(var(--vp-nav-bg-color), var(--vp-nav-bg-color)),
        var(--lkn-current-bg-image); // 这样做可以把背景颜色盖在背景图上面
    background-color: var(--vp-nav-bg-color); //回退
}
.VPNavBar::after {
    @include all-navbar-bg-pseudo;
    -webkit-mask: var(--lkn-navbar-mask);
    mask: var(--lkn-navbar-mask);
}
.VPLocalNav.VPLocalNav > .container::after {
    @include all-navbar-bg-pseudo;
    -webkit-mask: var(--lkn-local-navbar-mask);
    mask: var(--lkn-local-navbar-mask);
}

.VPNavBar:not(#ABC) {
    --vp-nav-bg-color: var(--lkn-page-bg);
    background-color: transparent;
    &.home {
        --vp-nav-bg-color: var(--lkn-home-bg);
    }
    .divider {//分割线
        display: none;
    }
    .container > .title.title {//网站标题
        display: flex;
        align-items: center;
        .title {
            height: 40px;
            padding: 0 13px;
            background-color: var(--vp-c-bg-alt);
            border: 1px solid transparent;
            border-radius: 8px;
            transition: border .2s;
            &:hover {
                border: 1px solid var(--vp-c-brand-1);
            }
        }
        .logo {
            border-radius: 50%; //圆角
            margin: 0 6px 0 -4px; //视觉上对齐
        }
    }
    .content-body:not(#ABC) {
        background-color: transparent;
    }
}
.VPNavBarSocialLinks, .VPNavScreenSocialLinks { //导航栏和导航菜单的个人链接
    & > a {
        background-color: var(--vp-c-bg);
        &:first-child {
            padding-inline-start: 2px;
            border-radius: 50% 0 0 50%;
        }
        &:last-child {
            padding-inline-end: 2px;
            border-radius: 0 50% 50% 0;
        }
    }
}

.search-bar {
    background-color: var(--vp-c-bg-alt);
}
//特化 for vitepress-plugin-pagefind 的搜索按钮
.blog-search.blog-search {
    padding-left: clamp(12px, calc(5vw - 10px), 43px);
    .nav-search-btn-wait {
        // 复制自vitepress自带localsearch（MiniSearch）的图标，可以说是原汁原味了
        --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m21 21l-4.34-4.34'/%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3C/g%3E%3C/svg%3E");
        &, > * {
            color: var(--vp-c-text-2);
        }
        span:not([class]) { //替换图标
            background-color: currentColor;
            width: 1em;
            height: 1em;
            font-size: 14px;
            -webkit-mask: var(--icon) no-repeat;
            mask: var(--icon) no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
            svg { display: none; }
        }
        .search-tip {
            font-size: 13px;
            padding-inline: 8px;
        }
        .metaKey {
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            margin-inline: 0 2px;
        }
    }
}
//特化 for (伪装成)algolia(的pagefind)
.algolia {
    --font-sans: var(--vp-font-family-base);
    [command-dialog-mask] {
        background-color: transparent;
        &::after {
            background-color: var(--vp-backdrop-bg-color);
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    [command-dialog-wrapper] {
        background-color: var(--vp-c-bg);
        max-width: 720px;
        margin: clamp(0px, 5vh, 160px) auto auto;
        overflow: hidden;
        > * {
            border-radius: 0;
        }
    }
    [command-dialog-header] {
        padding: 12px 12px 0;
        .search-bar {
            border: 1px solid var(--vp-c-divider);
            &:focus-within {
                border-color: var(--vp-c-brand-1);
            }
        }
        .search-actions.before {
            padding-left: 6px;
        }
        .search-actions:not(.before) {
            padding-right: 6px;
        }
    }
    [command-dialog-body] {
	    min-height: 12px; //配合command-dialog-header的padding修改
        padding: 0 12px;
    }
    [command-input] {
        font-size: 16px;
        padding-block: 6px;
    }
    [command-group] {
        padding-bottom: 12px;
    }
    [command-group-heading] {
        color: var(--vp-local-search-highlight-bg);
    }
    [command-item] {
        padding: 2px 12px;
        background-color: var(--vp-local-search-result-bg);
        border: 2px solid var(--vp-local-search-result-border);
        mark:not(#ABC) {
            background-color: var(--vp-local-search-highlight-bg);
            color: var(--vp-local-search-highlight-text);
            border-radius: 2px;
            padding: 0 2px;
            text-decoration: none;
        }
        .title i.prefix:not(#ABC) {
            color: var(--vp-c-brand-1);
            opacity: .6;
        }
        &[aria-selected=true] {
            color: unset;
            background-color: var(--vp-c-bg-alt);
            border-color: var(--vp-c-brand-3);
        }
        &:hover {
            color: unset;
            background-color: var(--vp-local-search-result-selected-bg);
            border-color: var(--vp-local-search-result-selected-border);
        }
    }

    [command-dialog-footer] {
        border: none;
        background-color: var(--vp-c-bg-alt);
    }
    //使用pagefind的话
    .command-palette-logo svg { :root.dark & {
        filter: invert(.8); //暗色下反色
    }}
}

.VPLocalNav.VPLocalNav {
    background-color: transparent;
    border-bottom: none;
    >.container::after { /*页面导航栏背景*/
        background-color: var(--vp-local-nav-bg-color);
    }
}

.VPLocalNavOutlineDropdown > .items {
    /*收窄菜单+解决菜单定位bug*/
    left: unset;
    right: 20px;
    width: auto;
    backdrop-filter: blur(var(--lkn-navbar-blur-radius));
}

.VPDoc .aside.aside {
    padding-left: none; /*缩小左边距*/
}

.VPFooter.VPFooter { /*页脚*/
    border-top: none;
    background-color: var(--lkn-page-bg);
    .VPContent.is-home ~ & {
        background-color: transparent;
    }
    &.has-sidebar {
        display: block !important;
    }
    #app & { /*权重提升*/
        padding-bottom: 22px;
    }
    p {
        /*可配合<wbr/>元素(不过大概率不需要)*/
        word-break: keep-all;
    }
}

.pager-link {
    background-color: var(--vp-c-bg-alt);
}

.VPButton {
    cursor: default;
}

.VPHero.has-image {
    .image-bg { /*配合对背景辉光图像的修改*/
        background-repeat: no-repeat;
        background-size: cover;
    }
    .VPImage {
        border-radius: 50%;
    }
}

@mixin wide-search-button {
    cursor: text;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border .2s, transform .1s;
    &:hover {
        border: 1px solid var(--vp-c-brand-1);
    }
}

@media (max-width: 560px) { /*宽度560及以下*/
    .algolia {
        [command-dialog-wrapper] {
            margin: 0;
            backdrop-filter: none; //模糊传送术
        }
        [command-dialog-mask]::after { //传送到这里
            backdrop-filter: blur(var(--lkn-navmenu-blur-radius));
        }
        [command-list] {
            &, [data-overlayscrollbars-contents] { max-height: calc(100vh - 94px); }
        }
    }
}
@media (min-width: 560.001px) { /*宽度560以上*/
    .algolia {
        [command-list] {
            &, [data-overlayscrollbars-contents] { max-height: clamp(64px, calc(80vh - 60px), 960px); }
        }
    }
}
@media (max-width: 639.999px) { /*宽度640以下*/
    .VPHero.has-image .VPImage {
        /*你不要乱动啊会出来的啊呜呜呜*/
        width: 168px;
        height: 168px;
    }
}
@media (min-width: 640px) { /*宽度640及以上*/
    .VPHero.has-image .VPImage {
        width: 208px;
        height: 208px;
    }
}
@media (max-width: 759.999px) { /*宽度760以下*/
    .blog-search.blog-search { //不然scale()动画的定位会出问题，并且这个padding没什么必要
        padding-left: 0;
        .nav-search-btn-wait:not(#ABC) { 
            border: none;
            span:not([class]) { //搜索图标
                color: var(--vp-c-text-1);
                font-size: 20px;
            }
        }
    }
}
@media (min-width: 760px) { /*宽度760及以上*/
    .nav-search-btn-wait:not(#ABC) { @include wide-search-button; }
}
@media (max-width: 767.999px) { /*宽度768以下*/
    .VPLocalSearchBox > .backdrop { // 不要背景模糊
        backdrop-filter: none;
    }
}
@media (min-width: 768px) { /*宽度768及以上*/
    .VPNavBarSearchButton{ @include wide-search-button; }
}
@media (max-width: 959.999px) { /*宽度960以下*/
    :root {
        --vp-sidebar-bg-color: var(--lkn-page-bg);
    }
    .VPLocalNav ~ .VPContent { //穿帮咯
        box-shadow: 0 -12px 12px 12px var(--lkn-page-bg);
    }
    .VPNavBar::after {
        background-image: none; //不需要background-image了
        -webkit-mask: none;
        mask: none;
    }
    .VPNavBar.home::after { //背景 给我 咔掉 ！
        display: none;
    }
}
@media (min-width: 960px) { /*宽度960及以上*/
    :root {
        --vp-local-nav-bg-color: var(--vp-nav-bg-color);
    }
    .VPNavBarTitle .title, .VPNavBarSearch button, .nav-search-btn-wait {//网站标题，搜索框
        backdrop-filter: blur(var(--lkn-navbar-blur-radius));
    }
    .VPLocalNav {
        pointer-events: none;
        > .container::after {//背景不要哦
            display: none;
        }
        button.menu {
            //侧边栏展开按钮：为了本篇目录按钮可以正常定位在右侧
            display: flex;
            opacity: 0;
            visibility: hidden;
        }
    }
    .VPLocalNavOutlineDropdown.VPLocalNavOutlineDropdown { //本篇目录或回到顶部按钮
        * { pointer-events: all }
        button {
            padding: 6px 14px 6px;
            margin: 6px 22px 5px;
            background-color: var(--vp-c-bg-alt);
            backdrop-filter: blur(var(--lkn-navbar-blur-radius));
            border: 1px solid transparent;
            border-radius: 8px;
            transition: border .2s, color .2s;
            &:hover {
                border: 1px solid var(--vp-c-brand-1);
            }
        }
    }
    .VPFooter.has-sidebar {
        padding-left: calc(var(--vp-sidebar-width) + 20px);
    }
}
@media (min-width: 1067px) { /*宽度1067及以上*/
    #app {/*变大喵！*/ //不能用html，否则vitepress-plugin-image-viewer图片的初始定位会出问题
        zoom: 1.03; /*1.05在Chromium系浏览器会错位喵！*/
    }
}
@media (min-width: 960px) and (max-width: 1279.999px) { /*宽度960~1280(不含)*/
    .VPLocalNav {
        /*&:not(.empty)*/ ~ .VPContent.VPContent { /*向上占用原本是页面导航栏（VPLocalNav）的空间*/
            margin-top: -49px; /*页面导航栏的高度乘以-1*/
        }
        &.empty {
            display: unset !important;
        }
    }
}
@media (min-width: 1440px) { /*宽度1440及以上*/
    .VPFooter.has-sidebar { /*左边距跟随侧边栏宽度*/
        padding-left: calc((100% - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width));
    }
}
@media (min-width: 1510px) { /*宽度1510及以上*/
    #app {/*变大汪！*/
        zoom: 1.1; /*zoom: 1.1需要宽度1505+，否则侧边栏被裁切*/
    }
}
