// 所有字重及对应数值
$font-weights: (
    'Thin': 100,
    'Light': 300,
    'Regular': 400,
    'Medium': 500,
    'Semibold': 600,
    'Bold': 700,
    'Black': 900
);

// 循环生成每个字重的常规和斜体 @font-face
@each $name, $weight in $font-weights {
    // 常规样式 (normal)
    @font-face {
        font-family: 'HarmonyOS Sans SC';
        font-style: normal;
        font-weight: $weight;
        font-display: swap; // 优化加载体验
        src: url('/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_#{$name}.ttf') format('truetype');
    }
}

:root {
    --vp-font-family-base: "Inter", "HarmonyOS Sans SC", "PingFang SC", ui-sans-serif, sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --vp-font-family-mono: "Sarasa Mono SC", "Monaspace Neon", ui-monospace, "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;
}

* {
    //允许合成粗体斜体及小号大写喵！
    font-synthesis: weight style small-caps;
    //CJK自动排版喵！
    text-autospace: normal;
    //分数显示优化+标点挤压(通用)+标点挤压(HMOS SANS)+自然字宽喵！https://sparanoid.com/lab/opentype-features/
    font-feature-settings: "frac", "hwid", "ss08", "pwid";
}

.VPFeatures,
.VPDoc .main {
    //左右对齐喵！
    text-align: justify;
    text-justify: inter-character;
}