@use "sass:color";
$lkn-theme-accent-light: #007A3A;
$lkn-theme-accent-bg-light: #E8F1EA; /*oklch空间混合白色90%和主题色10%*/
$lkn-theme-accent-dark:#D170FF;
$lkn-theme-accent-bg-dark: #100416; /*oklch空间混合黑色80%和主题色20%*/
:root {
    /* 1440-(1440*1.05) ，与 1067px 以上时 zoom: 1.05 配合，防止出现侧边栏被剪切等问题 */
    --vp-layout-max-width: 1368px; 

    --vp-font-family-base: "Inter", "HarmonyOS Sans SC", ui-sans-serif, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --vp-font-family-mono: "Sarasa Mono SC", "Monaspace Neon", ui-monospace, "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;
    --vp-home-hero-image-background-image: url("/avatar.jpg");

    --vp-c-border: #FFFFFF06; /*边框*/
    --vp-code-block-bg: var(--vp-code-bg);
    --vp-backdrop-bg-color: var(--vp-c-bg-soft); /*侧边栏展开遮罩*/

    --vp-button-brand-bg: var(--lkn-theme-accent);
    --vp-button-brand-hover-bg: var(--lkn-theme-accent-brighter);
    --vp-button-brand-active-bg: var(--lkn-theme-accent-darker);
    --vp-button-brand-hover-text: var(--lkn-theme-text);

    --vp-c-bg-elv: var(--vp-c-bg);
    --vp-c-gutter: var(--vp-c-bg-elv);
    --vp-c-brand-1: var(--lkn-theme-accent-brighter);
    --vp-c-brand-2: var(--lkn-theme-accent);
    --vp-c-brand-3: var(--lkn-theme-accent-darker);
    --vp-sidebar-bg-color: var(--vp-c-bg);
    --vp-local-nav-bg-color: var(--lkn-page-bg);

    &:not(.dark) {
        --lkn-theme-accent: #{$lkn-theme-accent-light};
        --lkn-theme-accent-bg: #{$lkn-theme-accent-bg-light};
        --lkn-theme-accent-brighter: #{color.mix(white, $lkn-theme-accent-light, 20%)};
        --lkn-theme-accent-darker: #{color.mix(black, $lkn-theme-accent-light, 20%)};
        --lkn-theme-text: #{color.mix(white, $lkn-theme-accent-light, 90%)};
        --lkn-theme-text-brighter: #{color.mix(white, $lkn-theme-accent-light, 95%)};
        --lkn-theme-text-darker: #{color.mix(white, $lkn-theme-accent-light, 50%)};
        --lkn-home-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 30%)};
        --lkn-page-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 50%)};
        --lkn-selection-color: #{color.mix($lkn-theme-accent-light, transparent, 40%)};
        --lkn-scrollbar-handle-bg: #{color.mix(rgba(black, .2), $lkn-theme-accent-bg-light, 90%)};
        --lkn-scrollbar-handle-bg-hover: #{color.mix(rgba(black, .4), $lkn-theme-accent-bg-light, 80%)};
        --lkn-scrollbar-handle-bg-active: #{color.mix(rgba(white, .1), $lkn-theme-accent-light, 60%)};

        --vp-c-text-1: #{color.mix(black, $lkn-theme-accent-light, 90%)}; //主文字色
        --vp-c-text-2: #{color.mix(black, $lkn-theme-accent-bg-light, 60%)}; //副文字色
        --vp-c-text-3: #{color.mix(black, $lkn-theme-accent-bg-light, 30%)}; //placeholder

        --vp-c-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 30%)};
        --vp-c-bg-soft: #{color.mix($lkn-theme-accent-bg-light, transparent, 40%)};
        --vp-c-bg-alt: #88DDBB36; /*非强调色按钮*/
        --vp-c-divider: #66BB9964;/*分隔条*/
        --vp-c-brand-soft: #{color.mix($lkn-theme-accent-light, transparent, 8%)}; /*Tip框*/
        --vp-code-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 50%)};
        --vp-code-line-highlight-color: #{color.mix($lkn-theme-accent-light, transparent, 20%)};

        --vp-button-brand-text: var(--lkn-theme-text-brighter);
        --vp-button-brand-active-text: var(--lkn-theme-text-darker);
        --vp-button-alt-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 60%)};
        --vp-button-alt-hover-bg: #{color.mix($lkn-theme-accent-bg-light, transparent, 80%)};
        --vp-button-alt-active-bg: #{color.mix($lkn-theme-accent-light, transparent, 30%)};
    }

    &.dark {
        --lkn-theme-accent: #{$lkn-theme-accent-dark};
        --lkn-theme-accent-bg: #{$lkn-theme-accent-bg-dark};
        --lkn-theme-accent-brighter: #{color.mix(white, $lkn-theme-accent-dark, 20%)};
        --lkn-theme-accent-darker: #{color.mix(black, $lkn-theme-accent-dark, 20%)};
        --lkn-theme-text: #{color.mix(black, $lkn-theme-accent-dark, 70%)};
        --lkn-theme-text-brighter: #{color.mix(black, $lkn-theme-accent-dark, 50%)};
        --lkn-theme-text-darker: #{color.mix(black, $lkn-theme-accent-dark, 90%)};
        --lkn-home-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 40%)};
        --lkn-page-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 60%)};
        --lkn-selection-color: #{color.mix($lkn-theme-accent-dark, transparent, 40%)};
        --lkn-scrollbar-handle-bg: #{color.mix(rgba(white, .2), $lkn-theme-accent-bg-dark, 95%)};
        --lkn-scrollbar-handle-bg-hover: #{color.mix(rgba(white, .5), $lkn-theme-accent-bg-dark, 80%)};
        --lkn-scrollbar-handle-bg-active: #{color.mix(rgba(black, .1), $lkn-theme-accent-dark, 60%)};

        --vp-c-text-1: #{color.mix(white, $lkn-theme-accent-dark, 90%)}; //主文字色
        --vp-c-text-2: #{color.mix(white, $lkn-theme-accent-bg-dark, 70%)}; //副文字色
        --vp-c-text-3: #{color.mix(white, $lkn-theme-accent-bg-dark, 50%)}; //placeholder
        
        --vp-c-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 30%)};
        --vp-c-bg-soft: #{color.mix($lkn-theme-accent-bg-dark, transparent, 40%)};
        --vp-c-bg-alt: #CCBBDD24; /*非强调色按钮*/
        --vp-c-divider: #CCBBDD24; /*分隔条*/
        --vp-c-brand-soft: #{color.mix($lkn-theme-accent-dark, transparent, 15%)}; /*Tip框*/
        --vp-code-bg: #{color.mix($lkn-theme-accent-bg-dark, transparent, 50%)};
        --vp-code-line-highlight-color: #{color.mix($lkn-theme-accent-dark, transparent, 20%)};

        --vp-button-brand-text: var(--lkn-theme-text-darker);
        --vp-button-brand-active-text: var(--lkn-theme-text-brighter);
        --vp-button-alt-bg: #{color.mix(#dfdfdf, transparent, 15%)};
        --vp-button-alt-hover-bg: #{color.mix(#dfdfdf, transparent, 30%)};
        --vp-button-alt-active-bg: #{color.mix($lkn-theme-accent-dark, transparent, 30%)};
    }

    --lkn-navbar-blur-radius: 8px;
    --lkn-navmenu-blur-radius: 16px;
    --lkn-navbar-mask: linear-gradient(to bottom, #FFFFFF 70%, transparent 100%);
    --lkn-sidebar-mask: linear-gradient(to right, #FFFFFF 90%, transparent 100%);
    --lkn-footer-bg: linear-gradient(to top, var(--vp-c-bg) 50%, var(--lkn-page-bg) 100%);
    --lkn-navbar-gradient-bg-home: linear-gradient(to bottom, var(--vp-c-bg) 50%, var(--lkn-home-bg) 100%);
    --lkn-navbar-gradient-bg-page: linear-gradient(to bottom, var(--vp-c-bg) 0%, var(--lkn-page-bg) 100%);
    --lkn-loading-circle-width: max(min(0.4vw, 0.4vh), 3px);
    --lkn-loading-circle-radius: max(min(2vw, 2vh), 22px);
}

* {
    ::selection {
        background: var(--lkn-selection-color);
    }
}

//fix start
* { //允许合成粗体斜体及小号大写喵！
    font-synthesis: weight style small-caps;
    //CJK自动排版喵！
    text-autospace: normal;
    //等宽数字+标点挤压喵！https://sparanoid.com/lab/opentype-features/
    font-feature-settings: "tnum" 1, "hwid" 1;
}
.VPFeatures, .VPDoc .main {//左右对齐喵！
    text-align: justify;
    text-justify: inter-character;
}

pre {
    overflow: scroll; //不能跑到页面外边去喵！跑到外面去会出大问题的喵！
}
pre, code { &, & * {
    //不要CJK自动排版喵！https://github.com/vuejs/vitepress/issues/5115
    text-autospace: no-autospace;
    //不要左右对齐喵！
    text-align: unset;
    text-justify: unset;
}}

a[link] { //带link自定义属性时，当作链接看待
    text-decoration-line: underline;
    text-underline-offset: 2px;
    transition: color 0.25s;
    &:hover {
        color: var(--vp-c-text-1);
    }
}

.curtain.curtain.curtain {
	background-color: transparent;
}

ruby rt { //调大注音字号，看得更清楚
    font-size: 0.8em;
    h1 &, h2 & {
        font-size: 0.5em;
    }
    h3 &, h4 & {
        font-size: 0.6em;
    }
}
//fix end

//nprogress进度条
#nprogress {
    .bar { /*条子*/
        background: var(--lkn-theme-accent);
        box-shadow: 0 0 16px 2px var(--lkn-theme-accent);
    }
    .peg { /*条子头部shadow*/
        box-shadow: 4px 0 8px 3px var(--lkn-theme-accent);
    }
    .spinner-icon { /*加载圆圈旋转部分*/
        border-width: var(--lkn-loading-circle-width);
        width: var(--lkn-loading-circle-radius);
        height: var(--lkn-loading-circle-radius);
        animation-duration: 0.6s; /*旋转周期*/
        border-top-color: var(--lkn-theme-accent);
        border-left-color: var(--lkn-theme-accent);
    }
}
//OverlayScrollbars滚动条
.os-scrollbar-handle {
    --os-handle-bg: var(--lkn-scrollbar-handle-bg);
    --os-handle-bg-hover: var(--lkn-scrollbar-handle-bg-hover);
    --os-handle-bg-active: var(--lkn-scrollbar-handle-bg-active);
}

body {
    background: no-repeat fixed center / cover;
    background-image: url("/backgroundImage_light.webp");
    :root.dark & {
        background-image: url("/backgroundImage.webp");
    }
    background-color: var(--lkn-theme-accent-bg);
}
.VPContent {
    background-color: var(--lkn-page-bg);
    &.is-home {
        background-color: var(--lkn-home-bg);
    }
}

.VPSidebar.VPSidebar {
    box-shadow: none;
}
.VPSidebarItem .text {
    line-height: 18px;
}
.VPSidebar.open, #VPNavScreen, .VPLocalSearchBox > .shell, .VPFlyout > .menu {
    // 需要背景模糊的菜单元素
    backdrop-filter: blur(var(--lkn-navmenu-blur-radius));
}
.VPFlyout > .menu {
    border-radius: 12px;
}

/*所有导航栏背景伪元素*/
.VPLocalNav.VPLocalNav > .container,
.VPNavBar.home,
.VPNavBar:not(.home) .content-body { &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--vp-nav-bg-color);
    backdrop-filter: blur(var(--lkn-navbar-blur-radius));
    mask: var(--lkn-navbar-mask);
    -webkit-mask: var(--lkn-navbar-mask);
}}

.VPNavBar:not(#ABC) {
    background-color: transparent;
    .divider {//分割线
        display: none;
    }
    .container > .title.title {//网站标题
        display: flex;
        align-items: center;
        .title {
            height: 40px;
            padding: 0 13px;
            background-color: var(--vp-c-bg-alt);
            border: 1px solid transparent;
            border-radius: 8px;
            transition: border .2s;
            &:hover {
                border: 1px solid var(--vp-c-brand-1);
            }
        }
        .logo {
            border-radius: 50%; //圆角
            margin: 0 6px 0 -4px; //视觉上对齐
        }
    }
    .content-body:not(#ABC) {
        background-color: transparent;
    }
}
.VPNavBarSocialLinks, .VPNavScreenSocialLinks { //导航栏和导航菜单的个人链接
    & > a {
        background-color: var(--vp-c-bg);
        &:first-child {
            padding-inline-start: 2px;
            border-radius: 50% 0 0 50%;
        }
        &:last-child {
            padding-inline-end: 2px;
            border-radius: 0 50% 50% 0;
        }
    }
}
.search-bar {
    background-color: var(--vp-c-bg-alt);
}

.VPLocalNav.VPLocalNav {
    background-color: transparent;
    border-bottom: none;
    >.container::after { /*页面导航栏背景*/
        background-color: var(--vp-local-nav-bg-color);
    }
}

.VPLocalNavOutlineDropdown > .items {
    /*收窄菜单+解决菜单定位bug*/
    left: unset;
    right: 20px;
    width: auto;
    backdrop-filter: blur(var(--lkn-navbar-blur-radius));
}

.VPDoc .aside.aside {
    padding-left: none; /*缩小左边距*/
}

.VPFooter.VPFooter { /*页脚*/
    border-top: none;
    background: var(--lkn-footer-bg);
    background-color: none;
    &.has-sidebar {
        display: block !important;
    }
    #app & { /*权重提升*/
        padding-bottom: 22px;
    }
    p {
        /*可配合<wbr/>元素(不过大概率不需要)*/
        word-break: keep-all;
    }
}

.pager-link {
    background-color: var(--vp-c-bg-alt);
}

.VPButton {
    cursor: default;
}

.VPHero.has-image {
    .image-bg { /*配合对背景辉光图像的修改*/
        background-repeat: no-repeat;
        background-size: cover;
    }
    .VPImage {
        border-radius: 50%;
    }
}

@media (max-width: 639.999px) { /*宽度640以下*/
    .VPHero.has-image .VPImage {
        /*你不要乱动啊会出来的啊呜呜呜*/
        width: 168px;
        height: 168px;
    }
}
@media (min-width: 640px) { /*宽度640及以上*/
    .VPHero.has-image .VPImage {
        width: 208px;
        height: 208px;
    }
}
@media (max-width: 767.999px) { /*宽度768以下*/
    .VPNavBarSearchButton {
        transform: scale(1);
        transition: transform .1s;
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(.9);
        }
    }
}
@media (min-width: 768px) { /*宽度768及以上*/
    .VPNavBarSearchButton {
        cursor: text;
        border: 1px solid transparent;
        transition: border .2s, transform .1s;
        &:hover {
            border: 1px solid var(--vp-c-brand-1);
        }
    }
}
@media (max-width: 959.999px) { /*宽度960以下*/
    .VPSidebar {
        mask: var(--lkn-sidebar-mask);
        -webkit-mask: var(--lkn-sidebar-mask);
        .os-scrollbar-vertical { //确保滚动条可见性
            transform: translateX(-20px);
        }
    }
    
    .VPNavBar.VPNavBar.VPNavBar {
        background-image: var(--lkn-navbar-gradient-bg-page);
        background-color: transparent;
        &.home {
            background-image: var(--lkn-navbar-gradient-bg-home);
        }
        &.home::after, :not(.home) .content-body::after {
            display: none;
        }
    }
    .VPLocalNav.VPLocalNav > .container::after {
        mask: none;
        -webkit-mask: none;
    }
}
@media (min-width: 960px) { /*宽度960及以上*/
    :root {
        --vp-local-nav-bg-color: var(--vp-nav-bg-color);
    }
    .VPNavBarTitle .title, .VPNavBarSearch button {//网站标题，搜索框
        backdrop-filter: blur(var(--lkn-navbar-blur-radius));
    }
    .VPLocalNav {
        pointer-events: none;
        &> .container {
            &::after {//背景不要哦
                display: none;
            }
            > .VPLocalNavOutlineDropdown { //本篇目录按钮
                * {
                    pointer-events: all;
                }
                > button {
                    padding: 6px 14px 6px;
                    margin: 6px 22px 5px;
                    background-color: var(--vp-c-bg-alt);
                    backdrop-filter: blur(var(--lkn-navbar-blur-radius));
                    border: 1px solid transparent;
                    border-radius: 8px;
                    transition: border .2s, color .2s;
                    &:hover {
                        border: 1px solid var(--vp-c-brand-1);
                    }
                } 
            }
            > .menu { //侧边栏展开按钮：为了本篇目录按钮可以正常定位在右侧
                display: flex;
                opacity: 0;
            }
        }
    }
    .VPFooter.has-sidebar {
        padding-left: calc(var(--vp-sidebar-width) + 20px);
    }
}
@media (min-width: 1067px) { /*宽度1067及以上*/
    html {/*变大喵！*/
        zoom: 1.03; /*1.05在Chromium系浏览器会错位喵！*/
    }
}
@media (min-width: 960px) and (max-width: 1279.999px) { /*宽度960~1280(不含)*/
    .VPLocalNav:not(.empty) ~ .VPContent { /*向上占用原本是页面导航栏（VPLocalNav）的空间*/
        margin-top: -49px; /*页面导航栏的高度乘以-1*/
    }
}
@media (min-width: 1440px) { /*宽度1440及以上*/
    .VPFooter.has-sidebar { /*左边距跟随侧边栏宽度*/
        padding-left: calc((100% - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width));
    }
}
@media (min-width: 1510px) { /*宽度1510及以上*/
    html {/*变大汪！*/
        zoom: 1.1; /*zoom: 1.1需要宽度1505+，否则侧边栏被裁切*/
    }
}
