:root {
    --vp-c-bg: #18162072;
    --vp-c-bg-soft: #18162096;
    --vp-c-bg-alt: #CCBBDD24;
    --vp-c-bg-elv: var(--vp-c-bg);
    --vp-c-border: #FFFFFF06; /*边框*/
    --vp-c-divider: var(--vp-c-border); /*分隔条*/
    --vp-c-gutter: var(--vp-c-bg-elv);
    --vp-c-brand-1: var(--vp-c-purple-1);
    --vp-c-brand-2: var(--vp-c-purple-2);
    --vp-c-brand-3: var(--vp-c-purple-3);
    --vp-c-brand-soft: var(--vp-c-purple-soft);
    --vp-code-block-bg: var(--vp-c-bg-soft);
    --vp-sidebar-bg-color: var(--vp-c-bg);

    --vp-button-alt-bg: #CCBBDD36;
    --vp-button-alt-hover-bg: #CCBBDD72;
    --vp-button-alt-active-bg: #CCBBDDBB;

    --vp-font-family-base: "HarmonyOS Sans SC", "Noto Sans SC", 'Punctuation SC', 'Inter', ui-sans-serif, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: "Sarasa Mono SC", "Monaspace Neon", ui-monospace, "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;

    --lkn-navbar-blur-radius: 8px;
    --lkn-navmenu-blur-radius: 16px;
    --lkn-navbar-mask: linear-gradient(to bottom, #FFFFFF 75%, transparent 100%);
    --lkn-sidebar-mask: linear-gradient(to right, #FFFFFF 90%, transparent 100%);
    --lkn-footer-mask: linear-gradient(to top, #FFFFFF 75%, transparent 100%);
}

//fix start
* {//CJK自动排版喵！
    text-autospace: normal;
}
.VPFeatures, .VPDoc .main {//左右对齐喵！
    text-align: justify;
    text-justify: inter-character;
}

pre {
    overflow: scroll; //不能跑到页面外边去喵！跑到外面去会出大问题的喵！
}
pre, code { &, & * {
    //不要CJK自动排版喵！https://github.com/vuejs/vitepress/issues/5115
    text-autospace: no-autospace;
    //不要左右对齐喵！
    text-align: unset;
    text-justify: unset;
}}

a[link] { //带link自定义属性时，当作链接看待
    text-decoration-line: underline;
    text-underline-offset: 2px;
    transition: color 0.25s;
    &:hover {
        color: var(--vp-c-text-1);
    }
}

ruby rt { //调大注音字号，看得更清楚
    font-size: 0.7em;
}
//fix end

body {
    background: url("/backgroundImage.webp") no-repeat fixed center / cover;
}
#app {
    background-color: var(--vp-c-bg-soft);
}

.VPSidebar.VPSidebar {
    box-shadow: none;
}
.VPSidebarItem .text {
    line-height: 18px;
}
.VPSidebar.open, #VPNavScreen, .VPLocalSearchBox > .shell, .VPFlyout > .menu {
    backdrop-filter: blur(var(--lkn-navmenu-blur-radius));
}
.VPFlyout > .menu {
    border-radius: 12px;
}

.VPNavBar .container > .title.title {//网站标题
    display: flex;
    align-items: center;
    .title {
        height: 40px;
        padding: 0 13px;
        background-color: var(--vp-c-bg-alt);
        border: 1px solid transparent;
        border-radius: 8px;
        transition: border .2s;
        &:hover {
            border: 1px solid var(--vp-c-purple-1);
        }
    }
}



.VPNavBarSocialLinks, .VPNavScreenSocialLinks { //导航栏和导航菜单的个人链接
    & > a {
        background-color: var(--vp-c-bg);
        &:first-child {
            padding-inline-start: 2px;
            border-radius: 50% 0 0 50%;
        }
        &:last-child {
            padding-inline-end: 2px;
            border-radius: 0 50% 50% 0;
        }
    }

}

.VPLocalNav { //页面导航栏
    backdrop-filter: blur(var(--lkn-navbar-blur-radius));
    /*mask: var(--lkn-navbar-mask);
    -webkit-mask: var(--lkn-navbar-mask);*/
}
.VPLocalNavOutlineDropdown > .items {
    left: unset; //收窄
}

.search-bar {
    background-color: var(--vp-c-bg-alt);
}

.VPFooter {
    mask: var(--lkn-footer-mask);
    -webkit-mask: var(--lkn-footer-mask);
    &.has-sidebar {
        display: block !important;
    }
}

.pager-link {
    background-color: var(--vp-c-bg-alt);
}

@media (max-width: 767.999px) { /*宽度768以下*/
    .VPNavBarSearchButton {
        transform: scale(1);
        transition: transform .1s;
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(.9);
        }
    }
}
@media (min-width: 768px) { /*宽度768及以上*/
    .VPNavBarSearchButton {
        cursor: text;
        border: 1px solid transparent;
        transition: border .2s, transform .1s;
        &:hover {
            border: 1px solid var(--vp-c-purple-1);
        }
    }
}
@media (max-width: 959.999px) { /*宽度960以下*/
    .VPSidebar {
        mask: var(--lkn-sidebar-mask);
        -webkit-mask: var(--lkn-sidebar-mask);
    }
}
@media (min-width: 960px) { /*宽度960及以上*/
    .VPNav {
        backdrop-filter: blur(var(--lkn-navbar-blur-radius));
    }
    .VPFooter.has-sidebar {
        margin-left: var(--vp-sidebar-width);
    }
}
@media (min-width: 1280px) { /*宽度1280及以上*/
    .VPNav {
        mask: var(--lkn-navbar-mask);
        -webkit-mask: var(--lkn-navbar-mask);
    }
}
@media (min-width: 1440px) { /*宽度1440及以上*/
    .VPFooter.has-sidebar { /*左边距跟随侧边栏宽度*/
        margin-left: calc((100% - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width));
    }
}

.VPButton {
    cursor: default;
}

.VPHero.has-image .VPImage {
    border-radius: 50%;

    /*你不要乱动啊会出来的啊呜呜呜*/
	max-width: 192px;
	max-height: 192px;
}