a:not(#specificityUP_ABC, .VPButton),
.VPLocalSearchBox .result {
    &, * { transition: opacity .2s, border .3s, color .2s; }
    &.selected, &:hover{
        &, * { transition: none; }
    }
}

.VPButton.VPButton {
    transition: transform .15s, color .15s, border-color .15s, background-color .15s;
    will-change: transform;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transition: none !important;
        transform: scale(0.97);
    }
}

.VPLocalSearchBox {
    > .backdrop {
        animation: opacityIn .4s;
    }
    > .shell {
        animation: opacityIn .4s .1s backwards, slideDown .4s cubic-bezier(.34, .68, 0, 1) .1s backwards;
    }
}

.VPLocalNavOutlineDropdown {
    .flyout-enter-active {
        transition: all .4s cubic-bezier(.34, .68, 0, 1);
    }
    .flyout-leave-active {
        transition: all .2s cubic-bezier(1, 0, .68, .34);
    }
}

.VPSidebar.VPSidebar {
    transition: opacity 0s .2s, transform .15s cubic-bezier(1, 0, .68, .34);
    &.open {
        transition: opacity .2s .1s, transform .4s cubic-bezier(.34, .68, 0, 1) .1s;
    }
}

.VPBackdrop.VPBackdrop {
    &.fade-enter-active {
        transition: opacity .2s;
    }
    &.fade-leave-active {
        transition: opacity .2s .2s;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}